---
const { src, alt, active } = Astro.props;
---

<div class="flex flex-col @lg:flex-row">
  <div class="@lg:w-1/2">
    <img
      class="rounded-t-lg @lg:rounded-none @lg:rounded-l-lg"
      src={`/pics/${src}.jpg`}
      alt={alt}
    />
  </div>
  <div
    class="bg-black text-white @lg:w-1/2 p-2 @lg:p-5 border-2 border-gray-900 rounded-b-lg @lg:rounded-bl-none @lg:rounded-r-lg"
  >
    <slot />
  </div>
</div>
